header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color:rgb(26, 54, 54);
    box-shadow: 4px 10px rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.HeaderContent li {
    list-style: none;
    display: inline-block;
}

.HeaderContent li a {
    font-size: 15px;
    color: azure;
    margin-right: 25px;
    text-decoration: none;
}

.HeaderContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#initials {
    color: azure;
    font-size: 20px;
    margin-left: 13px;
    font-weight: bolder;
}

.HeaderContent li a:hover{
    color:  rgb(214, 189, 152);
}

/*   BODY    -----------------------------------------------------------------------------------------*/

body {
    margin: 0;
    padding-top:80px;
    background-image: url(pexels-bertellifotografia-1144687.jpg);
    color: azure;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    display: flex;
    justify-content: center;
}

.IntroText{
    padding: 20px;
}

.linksInText {
    color: azure;
}

.continue a {
    color: azure;
}

.MainSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(107, 144, 128);
    padding: 25px;
    width:60%;
    margin: 40px;
    margin-bottom: 117px;
    border-radius: 15px;
    box-shadow: 8px 20px rgba(0, 0, 0, 0.3);
    border: 3px solid rgb(26, 54, 54);
}

.continue a{
    color: rgb(214, 189, 152);
}

.continue {
    margin-top: 100px;
}

.picture img {
    border-radius: 20px;
    margin-right: 50px;
    border: 3px solid rgb(26, 54, 54);
    margin: 10px;
    margin-bottom: 0px;
}

.picture img:hover {
    box-shadow: 8px 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

#profilePic {
    margin-right: 100px;
}

figcaption {
    color: rgb(214, 189, 152);
    margin-left: 15px;
    font-size: small;
}

/*   ABOUT ME     ------------------------------------------------------------------------------------------*/

.AboutMeText {
    margin: 25px;
}

.AboutMePictures {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.AboutMeContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/*    GALLERY     ---------------------------------------------------------------------------------*/

.galleryPictures img {
    border-radius: 20px;
    object-fit: cover;
    border: 3px solid rgb(26, 54, 54);
}

.galleryPictures img:hover {
    box-shadow: 8px 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
   
}

figure {
    margin: 0;
    padding: 0;
    border: 0;
}

.layout img{
    display: grid;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 25px;
}

.galleryPictures figcaption {
    color: rgb(15, 3, 3);
    font-size: 10px;
}

.layout {
    column-count: 4;
    column-gap: 25px;
    max-width: 50000px;
}

/* CONTACT FORM     ----------------------------------------------------------------------------------------*/

input {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    border-radius: 10px;
    border: 3px solid rgb(26, 54, 54);
    background-color: rgb(214, 189, 152);
}

#textArea {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(214, 189, 152);
    border: 3px solid rgb(26, 54, 54);
}

select {
     width: 100%;
}

#formOfContact {
    border-radius: 10px;
    background-color: rgb(214, 189, 152);
    border: 3px solid rgb(26, 54, 54);
}

label {
    font-weight: bold;
    padding: 5px;
    font-size: large;
}

form {
    display: block;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/

footer {
    left: 0;
    right: 0;
    background-color:rgb(26, 54, 54);
    color: azure;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-align: center;
    padding: 15px;
    margin-top: 5px;
}

/*  Media Queries  --------------------------------------------------------------------*/

/*Tablet */
@media (max-width:991px) {

     header {
        box-shadow: 3px 8px rgba(0, 0, 0, 0.3);
    }

    .HeaderContent {
        height: 10%;
    }
    .HeaderContent li a {
        font-size: 13px;
        margin-right: 23px;
    }

    #initials {
        font-size: 18px;
        margin-left: 11px;
    }

    .MainSection {
        padding: 20px;
        width:80%;
        margin: 20px;
        margin-bottom: 200px;
        margin-top: 40px;
    }

    .continue {
        margin: 20px;
        margin-top: 30px;
    }

    body {
        padding-top:40px;
    }

    #profilePic {
        margin-right: 10px;
    }

    .layout {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
    }
}

/* Phone*/
@media (max-width: 600px) {
    header {
        box-shadow: 2px 5px rgba(0, 0, 0, 0.3);
    }

    .HeaderContent {
        height: 5%;
    }
    .HeaderContent li a {
        font-size: 10px;
        margin-right: 20px;
    }

    #initials {
        font-size: 15px;
        margin-left: 8px;
    }

    .MainSection {
        padding: 15px;
        width:100%;
        margin: 10px;
        margin-bottom: 200px;
        margin-top: 40px;
    }

    .continue {
        margin: 20px;
    }

    body {
        padding-top:40px;
    }

    #profilePic {
        margin-right: 10px;
    }

    .layout {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
    }

}